body {
    background: linear-gradient(to right, blue 50%, yellow 50%);
}


h1 {
    text-align: center;
    font-family: satisfy;
    font-size: 70px;
}

#yellow {
    color: yellow
}

 main {
    text-align:center;
    margin: auto;
    white-space: pre-wrap;
} 

form {
    white-space: normal;
    margin-bottom: 40px;
    position: relative;
    bottom: 40px;
}

#city-button  {
    background-color: blue;
    border-color: blue;
    color: yellow;
    display:inline-block; 
}

#city-text {
    display:inline-block; 
    background-color: yellow !important;
    border-color: yellow !important;
    color: blue !important;
    
    

}


 #city-name {
    position: relative;
    bottom: 125px;
    left: 110px;
    margin-right: auto;
    margin-left: auto;
    color: blue;
    
}

 #temp { 
    position: relative;
    margin-right: auto;
    margin-left: auto;
    bottom: 189px;
    left: 96px;
    color: blue;
    
    
}

#feels {
    position: relative;
    left: 95px;
    bottom: 250px;
    color: blue;
    
}


#label1 {
    position: relative;
    bottom: 80px;
    right: 150px;
    
    color: yellow;
}

#label2 {
    position: relative;
    right: 170px;
    bottom: 140px;
    
    color: yellow;
    
}

#label3 {
    position: relative;
    bottom: 200px;
    right: 160px;
    color: yellow;

    
}

 p {
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     font-family: gluten;
    
     
     
     
     
} 


